ul li{
    list-style: none;
    display: block;
    background-color: #E2E2E2;
    padding: 15px;
    margin-bottom: 1px;
    width: 120px;
    max-width: 120px;
}
ul li a:link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #494745;
    text-decoration: none;
}
ul li:hover{
    background-image: url(Sprite_g.jpg);
}