@import url(//db.onlinewebfonts.com/c/bb018e64d01355748d8ddc53553850b9?family=Cerebri+Sans);
*{
    background-color: #F6ECEB;
}
.btn-xs{
    border: 1px #dee2e6 solid !important;
    padding: .2rem .6rem !important;
    font-size: .75rem !important;
    border-radius: .15rem !important;
    
}
.btn-xs:focus{
    box-shadow: none !important;
}
#contato::before{
    content: url();
}
.btn-outline-light {
    color: #f3f7f9;
    border-color: #f3f7f9;
}
.waves-effect {
    border-radius: .15rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.img-thumbnail{
    background-color: #5A1D3D !important;
    border: 1px solid #f5f6f8 !important;
}
.name{
    font-size: 18px !important;
    font-family: "Cerebri Sans";
}
.text-center {
    text-align: center!important;
}
.text-muted > em{
    font-size: 14px !important;
}
.text-center > h5{
    font-size: 15px !important;
    color: #5A1D3D !important;
}