ul li{
    list-style: none;
    display: inline;
    background-color: #E2E2E2;
    padding: 15px;
}
ul li a:link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #494745;
    text-decoration: none;
}
ul li:hover{
    background-image: url(Sprite_g.jpg);
}